.cart-page {
  padding: 50px 8%;
  min-height: 80vh;
}

.cart-page > h1 {
  margin-bottom: 35px;
}

.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.cart-item {
  display: flex;
  background: white;
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 15px;
  gap: 20px;
}

.cart-item img {
  width: 150px;
  height: 180px;
  object-fit: cover;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h3 {
  margin-bottom: 7px;
}

.cart-item-info p {
  color: #777;
  margin-bottom: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.remove {
  margin-top: 15px;
  border: none;
  background: transparent;
  color: #ff3f6c;
  cursor: pointer;
}

.price-box {
  height: fit-content;
  border: 1px solid #eee;
  padding: 25px;
}

.price-box h3 {
  margin-bottom: 20px;
  font-size: 14px;
}

.price-box > div {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}

.green {
  color: green;
}

.final-price {
  font-size: 16px !important;
}

.price-box > button {
  width: 100%;
  background: #ff3f6c;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.empty-cart {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart div {
  font-size: 70px;
}

.empty-cart button {
  margin-top: 20px;
  background: #ff3f6c;
  color: white;
  border: none;
  padding: 14px 30px;
}

@media (max-width: 800px) {
  .cart-layout {
    grid-template-columns: 1fr;
  }

  .cart-item img {
    width: 100px;
    height: 130px;
  }
}