* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #ffffff;
  color: #222;
}

button,
input,
select {
  font-family: inherit;
}

img {
  max-width: 100%;
}

::selection {
  background: #ff3f6c;
  color: white;
}